button{
    width: 90px;
}
#screen{
    width: 360px;
    text-align: right;
    height: 30px;
    font-size: 20px;
}
form{
    background-color: rgb(88, 39, 39);
    width: 376px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}